form{

    padding: 20px;
    border-style: solid;
    border-radius: 40px;
}
button{
    display:block;
    padding: 10px;
}
#mensaje-error{
    font-size: 18px;
    font-weight: bold;
    color: red;
}
#mensaje-ok{
     font-size: 18px;
    font-weight: bold;
    color: green;
}